@import "fonts"
@import "mixin"

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  @include font-myriad
  display: flex
  flex-direction: column
  background-color: #ffffff
  font-size: 14px

.content
  flex-grow: 1

.container
  max-width: 1137px
  margin: 0 auto

.wrap-outer
  padding-left: 10px
  padding-right: 10px

.header
  min-height: 98px
  display: flex
  justify-content: space-between
  align-items: center

  &-logo
    display: block
    text-decoration: none

  &-location
    display: flex

    &__img
      margin-right: 5px

  &-email

    &__img
      margin-right: 5px

    &__text
      text-decoration: none
      color: #000000

      &:hover
        text-decoration: underline
        color: #1fba0a

  &-contacts
    @include font-sans

    &__phone
      font-weight: 700
      color: #010101
      font-size: 18px

    &__worktime
      color: #010101
      font-size: 10px

  &-backcall
    display: block
    cursor: pointer
    width: 171px
    height: 38px
    border-radius: 5px
    border: 1px solid #1fba0a
    color: #1fba0a
    text-decoration: none
    text-align: center
    line-height: 38px
    transition: all .5s

    &:hover
      color: #ffffff
      background-color: #1fba0a
      border: 1px solid transparent

.navbar-wrap
  display: flex
  color: #000000
  @include font-sans
  font-weight: 600
  text-transform: uppercase
  justify-content: space-between

.navbar-menu
  width: 124px
  height: 50px
  line-height: 50px
  cursor: pointer
  text-align: center
  outline: none

.navbar-buttons
  display: flex
  list-style-type: none

  &__link
    width: 160px
    height: 50px
    display: block
    text-decoration: none
    line-height: 50px
    text-align: center
    transition: all .5s
    cursor: pointer
    color: #000000

    &:hover
      color: #000000
      background-color: #84c604

.navbar-menu
  display: block
  position: relative

summary::after
  content: url("../img/arrow-down.png")
  position: absolute
  left: 95px
  top: -3px

summary::-webkit-details-marker
  display: none

details:focus,
summary:focus
  outline: 0
  outline: none

.navbar-menu__down
  border: 2px solid #84c604
  &-link
    text-decoration: none
    color: #010101
    display: block
    &:hover
      background-color: #84c604
      color: #ffffff

.navbar-cab,
.navbar-cart
  display: flex
  width: 124px
  height: 50px
  line-height: 50px
  text-decoration: none
  color: #000000
  align-items: center
  justify-content: space-around
  transition: all .5s
  border: 1px solid transparent
  &:hover
    border: 1px solid #84c604
    color: #84c604

.navbar-cab__img
  width: 22px
  height: 22px

.slider
  background: url("../img/main-img.png") no-repeat 50% 50%
  background-size: cover
  min-height: 675px

.slider-inner
  display: flex
  padding-top: 130px

.slider-content
  display: flex
  flex-direction: column

  &__title
    @include font-lemon
    color: #84c604
    font-size: 110px
    line-height: 100px
    margin-bottom: 48px

  &__text
    @include font-sans
    color: #ffffff
    font-size: 26px
    font-style: italic
    margin-bottom: 56px

  &__btn
    display: block
    @include font-sans
    color: #fefffe
    font-size: 16px
    text-align: center
    text-decoration: none
    text-transform: uppercase
    width: 246px
    height: 55px
    border-radius: 5px
    background-color: #fd4f10
    line-height: 55px
    transition: all .5s
    border: 2px solid transparent

    &:hover
      border: 2px solid #fd4f10
      color: #fd4f10
      background-color: #ffffff

.slider-sale
  width: 141px
  height: 141px
  background: linear-gradient(to top, #b71f24 0%, #df2024 100%)
  border-radius: 50%
  text-align: center
  padding-top: 40px
  color: #ffffff
  @include font-sans
  font-size: 29px
  font-weight: 700
  margin-left: 73px
  margin-top: -35px

.section-set__block
  display: flex
  justify-content: center

.section-set__title
  display: flex
  margin-top: 83px
  align-items: center
  margin-bottom: 46px

  &-text
    @include font-lemon
    color: #32505a
    font-size: 60px
    margin-left: 38px
    margin-right: 38px

  &-img
    height: 40px

.section-goods
  display: flex
  justify-content: space-between
  &__item
    box-shadow: 0 4px 29px rgba(0, 0, 0, 0.08)
    border-radius: 10px

